* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: pxTorem(30px);
  color: #fff;
  background: #0b6242;
}

header .header_cen {
  padding-right: pxTorem(15px);
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  flex: 1;
  background: #f7f7f7;
  overflow: auto;
  margin-top: pxTorem(-2px);
}

main .header {
  width: 100%;
  height: pxTorem(188px);
  background: #0b6242;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  box-sizing: border-box;
}

main .main-item {
  width: 90%;
  border-radius: pxTorem(10px);
  background: #fff;
  height: pxTorem(188px);
  box-shadow: 0px 0px 4px 2px #ccc;
  margin: 0 auto;
  margin-top: pxTorem(-30px);
}

main .main-item h2 {
  width: 100%;
  height: pxTorem(40px);
  padding: 0 pxTorem(15px);
  display: flex;
  align-items: center;
  font-size: pxTorem(14px);
  border-bottom: 1px solid #ccc;
}

main .main-item p {
  display: flex;
  align-items: center;
  padding: 0 pxTorem(15px);
  font-size: pxTorem(14px);
  height: pxTorem(27px);
}

main .main-item p span {
  flex: 1;
}

main .main-item p span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

main .main-item-over {
  width: 90%;
  border-radius: pxTorem(10px);
  background: #fff;
  height: auto;
  box-shadow: 0px 0px 4px 2px #ccc;
  margin: 0 auto;
  margin-top: pxTorem(12px);
}

main .main-item-over h2 {
  width: 100%;
  height: pxTorem(40px);
  padding: 0 pxTorem(15px);
  display: flex;
  align-items: center;
  font-size: pxTorem(14px);
  border-bottom: 1px solid #ccc;
}

main .main-item-over textarea {
  width: 100%;
  padding: 0 pxTorem(15px);
  height: pxTorem(80px);
  font-size: pxTorem(14px);
}

main .main-item-annex {
  width: 90%;
  border-radius: pxTorem(10px);
  background: #fff;
  height: auto;
  box-shadow: 0px 0px 4px 2px #ccc;
  margin: 0 auto;
  margin-top: pxTorem(12px);
  margin-bottom: pxTorem(12px);
}

main .main-item-annex h2 {
  width: 100%;
  height: pxTorem(40px);
  padding: 0 pxTorem(15px);
  display: flex;
  align-items: center;
  font-size: pxTorem(14px);
  border-bottom: 1px solid #ccc;
}

main .main-item-annex h2 span {
  flex: 1;
  display: flex;
  align-items: center;
}

main .main-item-annex h2 span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

main .main-item-annex h2 img {
  width: pxTorem(20px);
  margin-right: pxTorem(5px);
  height: pxTorem(20px);
}

main .main-item-annex ul {
  width: 90%;
  min-height: pxTorem(86px);
  display: flex;
  flex-flow: wrap;
  padding-top: pxTorem(10px);
  margin: 0 auto;
}

main .main-item-annex ul li {
  width: pxTorem(95px);
  height: pxTorem(62px);
  margin-right: pxTorem(6px);
  flex-shrink: 0;
  background: red;
  margin-top: pxTorem(6px);
}

main .main-item-annex ul li img {
  width: 100%;
  height: 100%;
}
