.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: pxTorem(94px);
  background: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ccc;
  padding: 0 pxTorem(16px);
  box-sizing: border-box;
}

.header span {
  flex: 1;
  height: pxTorem(30px);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: pxTorem(25px);
}

.header h2 {
  height: pxTorem(40px);
  line-height: pxTorem(40px);
  font-size: pxTorem(26px);
}

.main {
  width: 100%;
  height: 100%;
  background: #F8F8F6;
  padding: 0 pxTorem(20px);
  box-sizing: border-box;
}

.main-con-phone {
  width: 100%;
  height: auto;
}

.main-con-phone p {
  width: 100%;
  height: pxTorem(60px);
  border-bottom: 0.5px solid #333;
  display: flex;
  align-items: flex-end;
}

.main-con-phone p input {
  padding-bottom: 2%;
  font-size: pxTorem(16px);
  flex: 1;
}

.main-con-phone p span {
  padding-bottom: 2%;
  font-size: pxTorem(16px);
  float: right;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  color: #A5A5A5;
}

.btns {
  width: 100%;
  height: pxTorem(40px);
}

.btns span {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  text-align: center;
  font-size: pxTorem(16px);
  color: #fff;
  line-height: pxTorem(40px);
  background: #d4d4d4;
  margin-top: pxTorem(100px);
}

.userlogin {
  margin-top: pxTorem(150px);
  width: 100%;
  color: #10935D;
  font-weight: bold;
  font-size: pxTorem(16px);
  text-align: center;
}

.main-footer {
  width: 100%;
  margin-top: pxTorem(150px);
  text-align: center;
  font-size: pxTorem(13px);
}

.main-footer img {
  width: pxTorem(33px);
  margin: pxTorem(10px) pxTorem(20px);
}

.main-con-user {
  width: 100%;
  height: auto;
}

.main-con-user p {
  width: 100%;
  height: pxTorem(60px);
  border-bottom: 0.5px solid #333;
  display: flex;
  align-items: flex-end;
}

.main-con-user p input {
  padding-bottom: 2%;
  font-size: pxTorem(16px);
  flex: 1;
}
